* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(0, 70, 139, 1) 0%,
    rgba(102, 179, 225, 1) 50%
  );
}
.react-datepicker-wrapper {
  width: 100%;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* Font Size Utilities */
.text-sm {
  font-size: 0.875rem;
} /* Small text */
.text-md {
  font-size: 1rem;
} /* Medium text */
.text-lg {
  font-size: 1.25rem;
} /* Large text */
.text-xl {
  font-size: 1.5rem;
} /* Extra-large text */

/* Text Color Utilities */
.text-primary {
  color: #007bff;
}
.text-secondary {
  color: #6c757d;
}
.text-success {
  color: #28a745;
}
.text-danger {
  color: #dc3545;
}
.text-warning {
  color: #ffc107;
}
.text-info {
  color: #17a2b8;
}
.text-light {
  color: hsl(0, 0%, 80%);
}
.text-dark {
  color: #343a40;
}

/* Background Color Utilities */
.bg-primary {
  background-color: #00468b;
}
.bg-secondary {
  background-color: #66b3e1;
}
.bg-accent {
  background-color: #ffa500;
}
.bg-neutral {
  background-color: #f5f5f5;
}

/* Flex Container Utilities */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}



.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}

.MuiTabs-flexContainer {
  background-color: #fff !important;
}

.MuiTabPanel-root {
    padding: 0 !important;
}
.MuiDrawer-paperAnchorRight{
  width: 400px;
}

@media (max-width:500px) {
  .MuiDrawer-paperAnchorRight{
    width: 300px;
  }
}